<!DOCTYPE html>
<html lang="en">
  <%- include('parts/head') %>
  <body class="bg-gray-800">
    <% if(user) { %>
    <div class="flex justify-center items-center">
      <div class="w-3/5">
        <h1 class="text-white text-center text-2xl p-4">Url Shortener</h1>
        <div>
          <form id="form">
            <div class="flex flex-row">
              <input
                name="url"
                id="input"
                type="url"
                placeholder="Url"
                maxlength="100"
                minlength="10"
                class="m-px px-4 py-2 w-full bg-gray-800 border-2 border-green-300 border-solid rounded-lg outline-none text-white"
                required
              />
              <input
                name="customId"
                id="customId"
                type="text"
                placeholder="custom path"
                maxlength="50"
                minlength="5"
                class="hidden m-px px-4 py-2 w-full bg-gray-800 border-2 border-green-300 border-solid rounded-lg outline-none text-white"
              />
            </div>
            <select
              name="type"
              id="type"
              class="m-px mt-2 px-4 py-2 w-full bg-gray-800 border-2 border-green-300 border-solid rounded-lg outline-none text-white"
            >
              <option value="random">Random</option>
              <option value="custom">Custom</option>
            </select>
            <button
              id="submit"
              type="submit"
              class="m-px mt-2 px-10 py-2 text-center text-white border-2 border-green-300 border-solid rounded hover:bg-green-300 hover:text-gray-800 duration-75"
            >
              Submit
            </button>
          </form>
        </div>
        <div>
          <br />
          <h2 class="text-white p-2 text-xl">Your Links</h2>
          <div
            class="border-2 border-solid border-green-300 rounded-lg p-3"
            id="list"
          >
            <center>
              <p
                class="text-2xl text-white fa-solid fa-spinner fa-spin"
                id="loader"
              ></p>
            </center>
          </div>
        </div>
      </div>
    </div>
    <% } else { %>
    <div class="w-full flex justify-center mt-40">
      <div>
        <div
          onclick="window.location.href = '/login/google'"
          class="w-full flex gap-2 items-center bg-green-300 rounded-lg p-2 cursor-pointer hover:scale-150"
        >
          <img
            width="38"
            src="https://cdn.vsldev.tk/images/O9NkXXPLcZqGmNyFy4fM.svg"
          />
          <p class="text-lg">Login With Google</p>
        </div>
        <div
          onclick="window.location.href = '/login/discord'"
          class="mt-3 w-full flex gap-2 items-center bg-indigo-600 rounded-lg p-3 cursor-pointer hover:scale-150"
        >
          <img
            width="40"
            src="https://cdn.vsldev.tk/images/D7qdcQlBbSfxofVuWgIG.svg"
          />
          <p class="text-lg">Login With Discord</p>
        </div>
      </div>
      <% } %>
    </div>
    <%- include('parts/footer') %>
  </body>
</html>
